# Node modules (already installed in image)
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build
.vscode
.idea

# Git and version control
.git
.gitignore

# Docker & CI config files (optional)
.dockerignore
Dockerfile*

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log
logs
*.gz

# Optional: test files
coverage
__tests__/
*.spec.js
*.test.js
